
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBE8DB;
    align-items: center;
    text-align: center;
    width: 50%;
}

html{
    height: 100%
}

.name {
    font-size: 2rem;
}

p {
    background-color: #D76C82;
    width: 25%;
    border-radius: 20px;
}